<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capítulo 6-5</title>
    <link rel="stylesheet" href="exemplos-cap-6-5.css">
    <script src="../../jquery.min.js"></script>
</head>

<body>
    <div class='notice-6-5'>
        <h1>Atenção</h1>
        <p>Aqui você pode exibir alguma mensagem importante, que ela irá
            sobrepor todo o conteúdo do seu site.
        </p>

        <a href='javascript:;' class='close-6-5'>Fechar</a>
    </div>
    <div class='overlay-6-5'></div>

    <a id='show-modal' href="javascript:;">Exibir modal</a>
    <!-- <button id='show-modal'>Cliqe</button> -->

    <script src="script_modal.js"></script>
</body>

</html>