<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capítulo 6-8</title>
    <link rel="stylesheet" href="exemplos-cap-6-8.css">
    <script src="../../jquery.min.js"></script>
</head>

<body>
    <p class="p-6-8">
        Firefly é uma série de ficção científica criada pelo escritor/diretor
        Joss Whedon, criador de Buffy: A Caça Vampiros, Angel e Dollhouse,
        com sua companhia de produção Mutant Enemy Productions. Seu ambiente
        futurista naturalista, modelado a partir de temas dos filmes de Western
        tradicionais, apresenta um cenário de ficção científica atípico para a
        narrativa. Whedon também trabalhou como produtor executivo,
        junto com Tim Minear.
    </p>

    <hr>
    <br>
    <div class='flexbox-6-8'>
        <span class='one-6-8 box-6-8'>1</span>
        <span class='two-6-8 box-6-8'>2</span>
        <span class='three-6-8 box-6-8'>3</span>
        <span class='four-6-8 box-6-8'>4</span>
        <span class='five-6-8 box-6-8'>5</span>
    </div>
</body>

</html>