<!doctype html>
<html lang='pt-BR'>

<head>
  <meta charset='UTF-8'>
  <title>O que eu mais gosto em São Paulo</title>

  <link rel='stylesheet' href='../normalize.css'>
  <script src='../prefixfree.min.js'></script>
</head>

<body>
  <div class='container'>
    <header>
      <h1>
        <a href='../index.html'>Página Principal</a>
      </h1>
    </header>

    <article>
      <h2>Link Livro e Documentos</h2>
      <img src='../images/domine_a_web_do_futuro.jpg'
        alt="O céu da avenida Paulista,foto por http://www.flickr.com/photos/jairo_abud">
      <p>
        <a href='https://github.com/gflci/C-/blob/master/Html5%20E%20Css3%20Domine%20a%20Web%20do%20Futuro.pdf'
          target='_blank'>
          Livro
        </a>
      </p>

      <p>
        <a href='https://lucasmazza.website/htmlcss-exemplos/' target='_blank'>
          Documentos
        </a>
      </p>
      <div class='clear'></div>
    </article>
  </div>

  <!-- O seu HTML vem aqui! -->
  <script src='jquery.min.js'></script>
</body>

</html>