.clear-5-6 {
    clear: both;
}

.h2-6-2-left {
    float: left;
    margin: 0 20px 20px 0;
}

.h2-6-2-right {
    float: right;
    margin: 0 20px 20px 0;
}

.h4-6-2 {
    margin-top: 5px;
}

.p-6-2 {
    clear: both;
}

.img-6-2 {
    float: left;
    margin-right: 10px;
}

.posts-6-2 {
    float: left;
    width: 600px;
}

.h1-6-2 {
    float: left;
    margin: 0 0 20px;
}

.timestamp-6-2 {
    background-color: #000;
    color: #FFF;
    float: right;
    font-size: 0.9em;
    margin-top: 10px;
    padding: 5px 10px;
}

.p-6-2 {
    clear: both;
}

.aside-6-2 {
    background-color: #FFFBE4;
    border: 1px solid #C9BC8F;
    float: right;
    padding: 10px;
    width: 200px;
}

.aside-6-2 h3 {
    margin: 0;
}

.page-6-2 {
    padding: 10px;
    margin: 0 auto;
    width: 940px;
    background-color: #E8E8E8;
}

.clearfix {
    zoom: 1;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}