<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplos</title>

    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet'>
    <link rel="stylesheet" href="exemplos.css">
</head>

<body>
    <section class="section-4">
        <h1 class="h1-capitulo-4">Um exemplo de pseudo elementos</h1>
    </section>

    <p class='help'>
        Preencha o campo com um e-mail válido, assim poderemos entrar em
        contato com você para informar o resultado do nosso concurso.
    </p>

    <br>

    <hr>

    <p class='tip'>Você sabia que...</p>

    <blockquote>
        O problema com citações na Internet é que você não pode
        confirmar a sua veracidade.
    </blockquote>

    <br>

    <a href="#" class='button primary-button big-button'>Enviar mensagem</a>
    <a href="#" class='button small-button'>Cancelar</a>

    <hr>
    <!-- O atributo "media" indica que estes estilos
    só devem ser aplicado para impressões -->
    <link href="print.css" media="print">

    <br>

    <h1>Transações de Maio, 2011</h1>
    <table>
        <tr>
            <td>
                <a href='http://exemplo/transacao/1'>Transação 1</a>
            </td>
            <td class='expense'>R$ 100,00</td>
            <td class='actions'>
                <a href="http://exemplo/transacao/1/editar">Editar</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href='http://exemplo/transacao/2'>Transação 2</a>
            </td>
            <td class='profit'>R$ 200,00</td>
            <td class='actions'>
                <a href="http://exemplo/transacao/2/editar">Editar</a>
            </td>
        </tr>
    </table>

    <hr>

    <br>

    <h1 class="h1-capitulo-5-2">HTML & CSS</h1>
    <hr>

    <h1 class='icon-next'>Avançar</h1>

    <p class='icon-next'>Ir para a próxima página</p>

    <p class='icon-ok'>E-mail enviado com sucesso!</p>
    <p class='icon-invalid'>Atenção, preencha todos os campos do
        formulário
    </p>

    <br>
    <hr>
    <h3 class='tnt'>TNT</h3>

    <br>
    <hr>
    <span class='counter'>37</span>

    <br>
    <hr>
    <div class="div-cloud">
        <span class='cloud'></span>
    </div>

    <br>
    <hr>
    <figure class="figure-5-5">
        <img class="img-5-5" src="../images/sanfrancisco-1024x686.jpg" alt="A Golden Gate.">
        <figcaption class="figcaption-5-5">
            San Francisco, Califórnia
            <small>
                Por Salim Virji (http://www.flickr.com/photos/salim/402618628/)
            </small>
        </figcaption>
    </figure>

    <br>
    <hr>
    <ul class="ul-5-5">
        <li class="li-5-5">Um</li>
        <li class="li-5-5">Dois</li>
        <li class="li-5-5">Três</li>
        <li class="li-5-5">Quatro</li>
    </ul>

    <br>
    <hr>

    <div class='blue div-5-5-linear-gradient'>
        Um gradiente azul clássico, utilizando 2 tons similares.
    </div>

    <div class='reverse-blue div-5-5-linear-gradient'>
        Uma versão inversa do gradiente azul.
    </div>

    <div class='omg-pink div-5-5-linear-gradient'>
        Combinando "top" e "right" para a direção.
    </div>

    <div class='stops div-5-5-linear-gradient'>
        Utilizando posições específicas para as cores.
    </div>

    <br>
    <hr>
    Faça a sua pesquisa aqui: <input type="text" class="input-5-6">

    <br>
    <hr>

    <ul class='nav-5-6'>
        <li class='current'><a href="#">Home</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Sobre</a></li>
    </ul>

    <br>
    <hr>
    <h1 class="h1-5-6">HTML & CSS</h1>

    <br>
    <hr>
    <span class='status-5-6 failed'>Pagamento recusado</span>
    <span class='status-5-6 shipped'>Produto enviado</span>
    <span class='status-5-6 processing'>Em aprovação</span>

    <br>
    <hr>
    <article class="book-5-6">
        <header>
            <h1 class="h1-5-6-book">Ruby on Rails: coloque sua aplicação web nos trilhos</h1>
            <h2 class="h2-5-6-book">Vinicius Baggio</h2>
            <span class='available-5-6'>Disponível</span>
        </header>
        <ul class="ul-5-6">
            <li><a href="#" class='icon-5-6 paper-5-6'>Comprar a versão física</a></li>
            <li><a href="#" class='icon-5-6 digital-5-6'>Comprar a versão digital</a></li>
            <li>
                <a href="#" class='icon-5-6 package-5-6'>Comprar o pacote completo!</a>
            </li>
        </ul>

        <p>
            Uma ótima leitura para iniciantes afim de se aventurar no ecossistema
            de Ruby.
        </p>
        <div class='clear-5-6'></div>
    </article>
</body>

</html>