<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capítulo 6-4</title>
    <link rel="stylesheet" href="exemplos-cap-6-1.css">
</head>

<body>
    <span class="span-6-1">inline</span>
    <span class="span-6-1">inline</span>
    <p class="p-6-1">block</p>

    <br>
    <hr>
    <span class="span-6-1-inline-block">inline-block</span>
    <span class="span-6-1-inline-block">inline-block</span>
    <span class="span-6-1-inline-block">inline-block</span>
    <br>
    <span>inline-block</span><span>inline-block</span>
</body>

</html>