form {
    font-size: 0.8em;
    padding: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    border: 1px solid #CCC;
    box-shadow: inset 2px 2px 2px #EEE;
    font-size: 0.9em;
    padding: 2px 5px;
}

.container {
    height: 300px;
    perspective: 500px;
    position: relative;
    width: 200px;
}

.card {
    border-radius: 5px;
    border: 1px solid #CCC;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    width: 100%;
    transition: transform 1s;
}

.card section {
    background-color: #FFF;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
}

.signup {
    transform: rotateX(180deg);
}

.card.flipped {
    transform: rotateX(180deg);
}