<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capítulo 6-4</title>
    <link rel="stylesheet" href="exemplos-cap-6-4.css">
</head>

<body>
    <div class='box-6-4'>
        Teste
    </div>
    <p>Um parágrafo de texto logo abaixo</p>

    <hr>
    <br>
    <h1 class="h1-6-4">Posicionado com "absolute"</h1>

    <header class="header-6-4">
        <h1>Posicionado com "absolute"</h1>
    </header>
</body>

</html>