<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cap 7-8</title>
    <link rel="stylesheet" href="exemplos-cap-7-8.css">
    <script src="exemplos-cap-7-8.js"></script>
</head>

<body>
    <form method='post' action=''>
        <label class="label-7-8" for='username'>
            Usuário
        </label>
        <input class="input-7-8" type='text' id='username' placeholder='Usuário'>

        <label class="label-7-8" for='password'>Senha</label>
        <input class="input-7-8" type='password' id='password' placeholder='Senha' placeholder="Usuário">

        <button class="button-7-8">Entrar no site</button>
    </form>
</body>

</html>