<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capítulo 7-3-4-5-6-7</title>
    <link rel="stylesheet" href="exemplos-cap-7-3-4-5-6-7.css">
</head>

<body>
    <form method='post' action=''>
        <p>
            <label class="label-7-3-4-5-6-7" for='email' autofocus>E-mail:</label>
            <input class="input-7-3-4-5-6-7" type='email' id='email' name='email'>
            <span class='hint-7-3-4-5-6-7'>por exemplo, seunome@dominio.com.</span>
            <span class='error-7-3-4-5-6-7'>Preencha o seu e-mail corretamente.</span>
        </p>

        <p>
            <label class="label-7-3-4-5-6-7" for='subject'>Assunto:</label>
            <input class="input-7-3-4-5-6-7" type='text' id='subject'>
            <span class='hint-7-3-4-5-6-7'>Nos diga qual é o seu problema ou ideia.</span>
        </p>

        <p>
            <label class="label-7-3-4-5-6-7" for='content'>Mensagem:</label>
            <textarea class="textarea-7-3-4-5-6-7" id='content'></textarea>
            <span class='hint-7-3-4-5-6-7'>
                Escreva a sua mensagem, em até 500 caracteres.
            </span>
        </p>
        <button>Enviar mensagem</button>
    </form>
</body>

</html>